@use "mixins" as mix;

.verticalBar {
  $width: 3px;
  $height: 100%;
  $color: #abdbff;

  border-left: $width dashed $color;
  position: absolute;
  top: 0;
  left: 12px;
  bottom: 0;
}

.timelineItem {
  $padding-y: 30px;

  position: relative;
  padding: $padding-y 0;
  margin-bottom: 3px;

  &:hover {
    cursor: pointer;
  }

  &__header {
    position: relative;

    @include mix.flex-row-space-between;

    gap: 0.5em;
    margin-bottom: 10px;
  }

  &__icon {
    $size: 28px;

    height: $size;
    width: $size;

    @include mix.flex-row-center;

    background-color: #3aa4ff;
    border-radius: 50%;
    color: #fff;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
  }

  &__description {
    overflow: hidden;
    padding: 0;
    height: 0;
    isolation: isolate;
  }
}
