@use "mixins" as mix;

.timelineItem {
  $padding-y: 30px;

  position: relative;
  padding: $padding-y 0;

  &:hover {
    cursor: pointer;
  }

  &__header {
    position: relative;

    @include mix.flex-row-space-between;

    gap: 0.5em;
    margin-bottom: 10px;
  }

  &__icon {
    $size: 28px;

    height: $size;
    width: $size;

    @include mix.flex-row-center;

    background-color: #3aa4ff;
    border-radius: 50%;
    color: #fff;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
  }

  &__description {
    overflow: hidden;
    padding: 0;
    height: 0;
  }
}
