@use "variables" as vars;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1em;
  border-radius: 0.8em;
  background-color: vars.$color-primary;
  color: vars.$color-primary-dark;
  box-shadow: 0 0.15em 0.2em 0.1em rgba(67 44 23 / 15%);
  transition: all 0.1s;

  @include flex-center;

  &:active {
    box-shadow: revert;
    scale: 0.9;
  }
}
