.timeline {
  position: relative;
  overflow: auto;

  &::before {
    $width: 2px;
    $height: 100%;
    $color: #abdbff;

    content: "";
    border-left: $width dashed $color;
    position: absolute;
    top: 2em;
    left: 12px;
    bottom: 0;
  }

  &__header {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

.addButton {
  position: fixed;
  top: 90dvh;
  right: 1em;
  margin-right: 1em;
}
